{
    "server": false,
    "node_name": "{{ ansible_hostname }}",
    "datacenter": "dc1",
    "data_dir": "/var/lib/consul/data",
    "bind_addr":  "{{ ansible_enp0s3.ipv4.address }}",
    "client_addr": "127.0.0.1",
    "retry_join": [{{ consul_haproxy }}],
    "log_level": "DEBUG",
    "enable_syslog": true,
    "acl_enforce_version_8": false
 }